body{
    background-color: rgb(185, 136, 207);
}

.navbar{
    background-color: #321B52;
    color:white;
    padding:0px;
}

.navbar-brand{
    background: linear-gradient(to right, rgba(255, 255, 255), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border: none;
    margin: 0px;
    padding:6px;
    padding-left: 15px;
    padding-right: 15px;
    color: #8448D9;
    text-shadow: black 1px 1px;
}

.navbar-brand:hover{
    color: #8448D9;
    text-shadow: black 1px 1px;
}

.link-to-button{
    background-color: #8448D9;
    text-decoration: none;
    color: white;
    padding:  15px;
}

.link-to-button:hover{
    transition-duration: .05s;
    border: solid 2px blueviolet;
    background-color: #743fbe;
}

.link-to-button:active{
    transition-duration: .05s;
    border: solid 4px blueviolet;
    background-color: #5f339c;
}

.navbar-toggler-custom{
    background-color: #8448D9;
    border:none;
    padding:  10px;
}

.navbar-toggler-custom:hover{
    background-color: #743fbe;
    border:none;
}

.navbar-toggler-custom:active{
    background-color: #5f339c;
    border:none;
}

.dropdownWindow{
    position: absolute;
    width: 150px;
    height: 200px;
    right: 0px;
    top:48px;
    background-color: #5f339c;
    visibility:hidden;
}

.dDownButton{
    width: 150px;
    height: 30px;
    padding:0px;
    margin: 0px;
    margin-top: 10px;
    position: fixed;
    border: none;
    background-color: #8448D900;
    text-align: center;
}

.dDownButton:hover{
    width: 150px;
    height: 30px;
    padding:0px;
    position: fixed;
    border: none;
    color: white;
    transition-duration: .2s;
    background-color: #8448D9;
    text-align: center;
}

#regGomb{
    margin-top: 60px;
}
#setGomb{
    margin-top: 110px;
}
#tmeGomb{
    margin-top: 160px;
}